@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "PoppinsSemiBold";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
}

body {
  margin: 0;
  font-family: Poppins, Oxygen, Ubuntu, Cantarell;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
